# Forest Fires

The topic is predicting forest fires in two different regions of Algeria, namely the Bejaia region in northeast Algeria and the Siddi Bel-Abbes located in the northwest region. Our task would be to predict whether or not there will be a fire and we will base our analysis on different measurements: Temperature, Relative humidity, Wind speed, and Amount of rain. Other Fire Weather Index (FWI) measurements include: FWI

In [5]:
library(tidyverse)
library(repr)
library(readxl)
library(RColorBrewer)
library(forcats)
library(tidymodels)
options(repr.matrix.max.rows = 6) #limits output of dataframes to 6 rows

In [6]:
Bej_data <- read_csv("data/forest_fires.csv", skip = 1, n_max = 122)
SB_data <- read_csv("data/forest_fires.csv", skip = 126)
forest_fires <- rbind(Bej_data, SB_data)
forest_fires <- cbind(region = rep(c("Bejaia","Sidi-Bel Abbes"), each = 122), forest_fires)

forest_fires

Parsed with column specification:
cols(
  day = col_double(),
  month = col_double(),
  year = col_double(),
  Temperature = col_double(),
  RH = col_double(),
  Ws = col_double(),
  Rain = col_double(),
  FFMC = col_double(),
  DMC = col_double(),
  DC = col_double(),
  ISI = col_double(),
  BUI = col_double(),
  FWI = col_double(),
  Classes = col_character()
)

Parsed with column specification:
cols(
  day = col_double(),
  month = col_double(),
  year = col_double(),
  Temperature = col_double(),
  RH = col_double(),
  Ws = col_double(),
  Rain = col_double(),
  FFMC = col_double(),
  DMC = col_double(),
  DC = col_double(),
  ISI = col_double(),
  BUI = col_double(),
  FWI = col_double(),
  Classes = col_character()
)

    region         day month year Temperature RH Ws Rain FFMC DMC DC   ISI BUI
1   Bejaia         1   6     2012 29          57 18  0.0 65.7 3.4 7.6  1.3 3.4
2   Bejaia         2   6     2012 29          61 13  1.3 64.4 4.1 7.6  1.0 3.9
3   Bejaia         3   6     2012 26          82 22 13.1 47.1 2.5 7.1  0.3 2.7
⋮   ⋮              ⋮   ⋮     ⋮    ⋮           ⋮  ⋮  ⋮    ⋮    ⋮   ⋮    ⋮   ⋮
242 Sidi-Bel Abbes 28  9     2012 27          87 29 0.5  45.9 3.5  7.9 0.4 3.4
243 Sidi-Bel Abbes 29  9     2012 24          54 18 0.1  79.7 4.3 15.2 1.7 5.1
244 Sidi-Bel Abbes 30  9     2012 24          64 15 0.2  67.3 3.8 16.5 1.2 4.8
    FWI Classes
1   0.5 not fire
2   0.4 not fire
3   0.1 not fire
⋮   ⋮   ⋮
242 0.2 not fire
243 0.7 not fire
244 0.5 not fire